<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.healthdiary"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".Activities.LoginScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainPage"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Activities.WeeklyQ1Direct"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Activities.WeeklyQ2Direct"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Activities.RandomMomentContacts"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Activities.WeeklyQ3Direct"
            android:label="@string/title_activity_weekly_q3_direct"></activity>
        <activity
            android:name=".Activities.SettingActivity"
            android:label="@string/title_activity_setting"></activity>

        <service
            android:name=".Services.LocationCollectionService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".Services.MotionDetectorService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".Helper.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".Helper.BootBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
